@import "_intro";
@import "_shine";
@import "_xereobar";
@import "_navbar";
@import "_slim";
@import "_section";

.inline-list {
    &, li {
        margin: 0;
        padding:0;
    }

    li {
        list-style-type: none;
        display: inline;
    }

    a {
        display: inline-block;
    }
}