.section {
    padding: (@grid-gutter-width * 2) 0;

    h2 {
        margin: 0 0 (@grid-gutter-width * 2);
        text-align: center;
        font-weight: 300;

        &, small {
            color: #000;
            font-size: 26px;
        }

        small {
            font-weight: 500;
            display: block;
        }
    }
}