@testimonial-avatar-radius: 16px;

.testimonial {
    border: none;
    padding: 15px;
    background: #fff;
    font-size: 12px;
    position: relative;

    .author {
        color: #aaa;

        &:before {
            content: "\2014";
        }
    }

    .avatar {
        position: absolute;
        right: -@testimonial-avatar-radius * (1 - sqrt(2) / 2);
        bottom: -@testimonial-avatar-radius * (1 - sqrt(2) / 2);

        width: @testimonial-avatar-radius * 2;
        height: @testimonial-avatar-radius * 2;
        border-radius: 50%;
    }
}